* {
    margin-left: 5px;
    margin-right: 5px;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/image1.jpg);
    background-size: cover;
}

#headshot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#header2 {
    margin-top: 40px;
}

#header3 {
    margin-top: 40px;
}

#header4 {
    margin-top: 40px;
    color: white;
}

#about-me {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 650px;
}

#app1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    transition: all 0.5c ease-in-out;
    background-color: white;
}

#app2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 395px;
    transition: all 0.5c ease-in-out;
    background-color: white;
}

#nav-text {
    color: white;
    padding: 5px;
}

#nav-text:hover {
    box-shadow: inset 70px 70px 70px rgb(248, 121, 71);
    border-radius: 20px;
}

#link-text {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

#link-text:hover {
    box-shadow: inset 70px 70px 70px rgb(248, 121, 71);
    border-radius: 20px;
}

#summary-text {
    margin-top: 20px;
    margin-bottom: 10px;
}

#tech-text {
    font-style: italic;
    margin-bottom: 20px;
}

#icon {
    font-size: 100px;
}